body{
    background: linear-gradient(180deg, rgb(255, 255, 255)-33%, rgba(51, 50, 51, 0.4)100%);
    color:#03012C;
    font-family: rockwell;
    
}

button{
    background-color: #e1dee9;
    border-style: solid;
    border-color: #e55381;
    color: #56018D;
    padding: 4px;
    height: 40px;
    width: 150px;
    border-width: 4px;
    border-radius: 12.5%;
    font-weight: bold;
}

.main_sellers {
    border-radius: 6%;
    margin-left: 10px;
    background-color:#56018D;
    color: #FFFFFF;
    margin-right: 10px;
    padding-top: 8px;
    border-style: solid;
    border-color: #03012C;
    border-width: 4px;
}

.main_buyers {
    border-radius: 6%;
    background-color: #56018D;
    color: #FFFFFF;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 8px;
    border-style: solid;
    border-color: #03012C;
    border-width: 4px;
}

.main_tech{
    border-radius: 10%;
    margin-top: 10px;
    margin-left: 7%;
    margin-right: 7%;
    padding:8px;
    background-color: #56018D;
    color: white;
    border-style: solid;
    border-color: #03012C;
    border-width: 4px;
}

.main_img{
    border-radius: 6%;
    border: solid;
    border-color: whitesmoke;
    border-width: 4px;
    
}

ul{
    list-style: none;
}


li{
    padding: 2px;
    padding-left: 10%;
    padding-right: 10%;
    
}